.logoIcon {
  position: relative;
  width: 70px;
  height: 57px;
  object-fit: cover;
}
.link {
  position: absolute;
  height: 100%;
  width: 29%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link1,
.link2 {
  position: absolute;
  top: 15.15%;
  left: 33.49%;
}
.link2 {
  height: 100%;
  width: 36.63%;
  top: 0;
  left: 63.37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links {
  position: relative;
  width: 436.19px;
  height: 33px;
}
.topContainer,
.topHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topContainer {
  flex: 1;
  justify-content: space-between;
}
.topHeader {
  align-self: stretch;
  background-color: var(--black);
  height: 98px;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-106xl);
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.shArd73911Icon {
  position: relative;
  width: 1980px;
  height: 1124px;
  object-fit: cover;
  z-index: 0;
}
.frameChild {
  position: absolute;
  margin: 0 !important;
  top: 286px;
  left: 146px;
  border-radius: var(--br-116xl);
  background-color: var(--color-gray-300);
  filter: blur(50px);
  width: 1707px;
  height: 520px;
  z-index: 1;
}
.input1 {
  position: absolute;
  height: 100%;
  width: 99.92%;
  top: 0;
  right: 0.02%;
  bottom: 0;
  left: 0.07%;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--black);
  box-sizing: border-box;
}
.placeholder {
  height: 99.49%;
  width: 100%;
  top: 0.51%;
  line-height: 140.63%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background,
.input,
.placeholder {
  position: absolute;
  left: 0;
}
.input {
  height: 29.93%;
  width: 49.81%;
  top: 69.92%;
  right: 50.19%;
  bottom: 0.14%;
  color: var(--color-gray-200);
}
.background {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-8xs);
  background-color: var(--black);
}
.scanNow {
  position: absolute;
  width: calc(100% - 49px);
  top: calc(50% - 15px);
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonPrimary {
  position: absolute;
  top: 186px;
  left: 398px;
  width: 180px;
  height: 80px;
}
.fixrDianosticMade {
  margin: 0;
}
.title {
  position: absolute;
  height: 62.41%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-31xl);
  line-height: 100%;
  display: inline-block;
  text-align: left;
}
.buttonPrimary1,
.group {
  position: absolute;
  top: 186px;
  left: 590px;
  width: 175px;
  height: 80px;
}
.group {
  margin: 0 !important;
  height: 23.67%;
  width: 39.24%;
  top: 41.19%;
  right: 49.39%;
  bottom: 35.14%;
  left: 11.36%;
  z-index: 2;
}
.buttonPrimary2 {
  position: absolute;
  top: 346px;
  left: 109px;
  width: 392px;
  height: 80px;
}
.email,
.input3 {
  position: absolute;
  left: 0;
}
.input3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--black);
  box-sizing: border-box;
}
.email {
  top: 1px;
  line-height: 140.63%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 392px;
  height: 79px;
}
.input2 {
  top: 154px;
  left: 109px;
  color: var(--color-gray-200);
}
.input2,
.input4,
.password {
  position: absolute;
  width: 392px;
  height: 80px;
}
.password {
  top: 0;
  left: 0;
  line-height: 140.63%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input4 {
  top: 250px;
  left: 109px;
  color: var(--color-gray-200);
}
.accessYourScan {
  position: absolute;
  top: 15px;
  left: 91px;
  font-size: var(--font-size-21xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 428px;
  height: 127px;
}
.buttonPrimaryParent {
  position: absolute;
  margin: 0 !important;
  top: 296px;
  left: 1243px;
  width: 610px;
  height: 499px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.shArd73911Parent {
  background-color: var(--color-white);
  border: 1px solid var(--black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.background3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black);
}
.copyright,
.link3 {
  position: absolute;
  height: 4.98%;
  width: 11.98%;
  top: 86.1%;
  left: 44.01%;
  line-height: 140.63%;
  display: inline-block;
}
.link3 {
  height: 4.88%;
  width: 7.15%;
  top: 91.08%;
  left: 46.44%;
}
.dividerIcon {
  position: absolute;
  height: 0.21%;
  width: 69.44%;
  top: 45.75%;
  right: 15.28%;
  bottom: 54.04%;
  left: 15.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.link4 {
  height: 97.97%;
  width: 28.98%;
  top: 0;
  left: 0;
}
.link4,
.link5,
.link6 {
  position: absolute;
  line-height: 140.63%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link5 {
  width: 28.04%;
  top: calc(50% - 49.5px);
  left: 40.55%;
  height: 90px;
}
.link6 {
  height: 100%;
  width: 19.74%;
  top: 0;
  left: 80.26%;
}
.linksRight {
  position: absolute;
  height: 20.54%;
  width: 39.19%;
  top: 25.31%;
  right: 32.19%;
  bottom: 54.15%;
  left: 28.61%;
  font-size: var(--font-size-11xl);
  font-family: var(--font-space-mono);
}
.logoIcon1 {
  position: absolute;
  height: 12.28%;
  width: 3.54%;
  top: 6.03%;
  right: 48.23%;
  bottom: 81.68%;
  left: 48.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.footerCenter {
  position: relative;
  width: 2020px;
  height: 482px;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
}
.home {
  position: relative;
  background-color: var(--black-2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--black);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-space-mono);
}
@media screen and (max-width: 1200px) {
  .topHeader {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .topHeader {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
